[core]
  editor = vim

[user]
  email = monica.dimitrova@conit-bg.com
  name = Monica Dimitrova

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status
  ci = commit -v
  ps = push
  pl = pull
  df = diff
  a = add
  ck = checkout

[help]
  autocorrect = 1

[branch]
  autosetupmerge = true
  autosetuprebase = always

[push]
  default = current

[rerere]
  enabled = 1

[merge]
  ff = only
