[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = input

[alias]
  a = add
  ci = commit -v
  ck = checkout
  ckh = checkout HEAD .
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)%an' --abbrev-commit --date=relative
  lgno = log --name-only
  pl = pull
  ps = push
  psf = push --force-with-lease
  st = status
  refl = reflog --format='%C(auto)%h %<|(17)%gd %C(blue)%ci%C(reset) %s'
  review = !git stash && git fetch origin $1 && (git branch -m $1 tmp-review-$1-$(date +%Y-%m-%d-%H-%M-%S) || :) && git checkout -b $1 origin/$1 && :
  nuke-review-tmp = !git branch | grep 'tmp-review' | xargs git branch -D
  default-branch = ![ -f "$(git rev-parse --show-toplevel 2>/dev/null)/.git/refs/heads/master" ] && echo master || echo main
  branch-name = !git rev-parse --abbrev-ref HEAD
  mm = !BRANCH="${1:-$(git branch-name)}" && git checkout $(git default-branch) && git pull origin $(git default-branch) && git checkout "$BRANCH" && git rebase $(git default-branch)

  hide = "update-index --assume-unchanged"
  show = "update-index --no-assume-unchanged"
  hidden = "!git ls-files -v | grep '^[a-z]'"

  skip = "update-index --skip-worktree"
  noskip = "update-index --no-skip-worktree"
  skipped = "!git ls-files -v | grep ^S"

  ri = "!sh -c \"git rebase -i HEAD~$1\" -"
  rias = "!sh -c \"git rebase -i --autosquash $1\" -"

[help]
  autocorrect = 1

[branch]
  autosetupmerge = true
  autosetuprebase = always

[push]
  default = current

[rerere]
  enabled = 1

[merge]
  ff = only

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[commit]
  gpgsign = true

[user]
  email = 3731686+spiralnegative@users.noreply.github.com
  name = Monika Georgieva
