[core]
  editor = vim

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status
  ci = commit -v
  ps = push
  pl = pull
  df = diff
  a = add
  ck = checkout

  hide = update-index --assume-unchanged
  show = update-index --no-assume-unchanged
  hidden = "!git ls-files -v | grep '^[a-z]'"

  skip = update-index --skip-worktree
  noskip = update-index --no-skip-worktree
  skipped = "!git ls-files -v | grep ^S"

  ri = "!sh -c \"git rebase -i HEAD~$1\" -"

[help]
  autocorrect = 1

[branch]
  autosetupmerge = true
  autosetuprebase = always

[push]
  default = current

[rerere]
  enabled = 1

[merge]
  ff = only
